@font-face {
    font-family:'Montserrat';
    src: url('/Montserrat Bold.eot');
	  src: url('/Montserrat Bold.eot?#iefix') format('embedded-opentype');
		src: url('/Montserrat Bold.woff2') format('woff2');
		src: url('/Montserrat Bold.woff') format('woff');
		src: url('/Montserrat Bold.svg#Montserrat Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family:'Montserrat';
    src: url('/Montserrat Bold Italic.eot');
	  src: url('/Montserrat Bold Italic.eot?#iefix') format('embedded-opentype');
		src: url('/Montserrat Bold Italic.woff2') format('woff2');
		src: url('/Montserrat Bold Italic.woff') format('woff');
		src: url('/Montserrat Bold Italic.svg#Montserrat Bold Italic') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family:'Montserrat';
    src: url('/Montserrat Italic.eot');
	  src: url('/Montserrat Italic.eot?#iefix') format('embedded-opentype');
		src: url('/Montserrat Italic.woff2') format('woff2');
		src: url('/Montserrat Italic.woff') format('woff');
		src: url('/Montserrat Italic.svg#Montserrat Italic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family:'Montserrat';
    src: url('/Montserrat Regular.eot');
	  src: url('/Montserrat Regular.eot?#iefix') format('embedded-opentype');
		src: url('/Montserrat Regular.woff2') format('woff2');
		src: url('/Montserrat Regular.woff') format('woff');
		src: url('/Montserrat Regular.svg#Montserrat Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}
