@font-face {
  font-family:'Montserrat';
  src: url('../assets/fonts/Montserrat Bold.eot');
  src: url('../assets/fonts/Montserrat Bold.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Montserrat Bold.woff2') format('woff2'),
  url('../assets/fonts/Montserrat Bold.woff') format('woff'),
  url('../assets/fonts/Montserrat Bold.svg#Montserrat Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}

@mixin coordinates-text {
  width: 80%;
  margin: 1% auto 0;
  color: #ffffff;
  text-align: end;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
}

.main {
  width: 80%;
  margin: 4% auto;
  padding: 2% 2%;
  height: 65vh;
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  filter: blur(0);

  &__container-right {
    display: flex;
    flex-direction: column;

    #map {
      margin: 15% auto 0;
      width: 80%;
      height: 100%;
      border-radius: 5px;
    }

    &__text-latitude {
      @include coordinates-text;
    }

    &__text-longtitude {
      @include coordinates-text;
    }
  }

  &__container-left {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 8% 7% 25% 30% 30%;
    grid-template-areas:
      'location location'
      'date icon'
      'temp icon'
      'temp weatherList'
      'nextWeather nextWeather'
    ;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;

    &__text-location {
      grid-area: location;
      font-size: 2.5em;
      margin: 0;
      padding: 0;
      line-height: 100%;
      text-transform: uppercase;
    }

    &__text-date {
      grid-area: date;
      font-size: 1.3em;
      margin: 0;
      padding: 0;
      padding-top: 2%;
      line-height: 100%;
    }

    &__text-temperature {
      grid-area: temp;
      text-align: center;
      font-size: 17em;
      margin: 0;
      padding: 0;
      line-height: 125%;
    }

    &__icon-temp {
      grid-area: icon;

    }

    &__list {
      grid-area: weatherList;
      text-transform: uppercase;
      list-style: none;
      margin: 0 auto;
      padding: 0;
    }

    &__list-bottom {
      grid-area: nextWeather;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      list-style-type: none;
    }

    &__listItem {
      display: grid;
      grid-template-columns: 40% 60%;
      grid-template-rows: 30% 70%;
      grid-template-areas: 'day day' 'temp icon';

      .listItem__header {
        grid-area: day;
        font-size: 1.5em;
        text-align: center;
        margin: 0;
      }

      .listItem__text {
        grid-area: temp;
        font-size: 4em;
        margin: 0;
        padding: 0;
        line-height: 125%;
        text-align: end;
      }

      .listItem__icon {
        grid-area: icon;
        .icon {
          font-size: 0.4em;
        }
      }
    }
  }
}
