@import '../../assets/fonts/fonts.scss';

@mixin coordinates-text {
  width: 80%;
  margin: 1% auto 0;
  color: #ffffff;
  text-align: end;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
}

.main {
  width: 80%;
  margin: 4% auto 30%;
  padding: 2% 2%;
  height: 70vh;
  display: grid;
  grid-template-columns: 5fr 5fr;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  filter: blur(0);

  &__container-right {
    display: flex;
    flex-direction: column;

    #map {
      margin: 15% auto 0;
      width: 80%;
      height: 40vh;
      border-radius: 5px;
    }

    &__text-latitude {
      @include coordinates-text;
    }

    &__text-longtitude {
      @include coordinates-text;
    }
  }

  &__container-left {
    position: relative;
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 1fr 2fr 3fr 3fr 4fr;
    grid-template-areas:
      'location location'
      'date icon'
      'temp icon'
      'temp weatherList'
      'nextWeather nextWeather'
    ;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;

    &__text-location {
      grid-area: location;
      position: absolute;
      width: 77vw;
      font-size: 3vw;
      margin: 0;
      padding: 0;
      line-height: 5vh;
      text-transform: uppercase;
    }

    &__text-date {
      grid-area: date;
      font-size: 2vw;
      margin: 0;
      padding: 0;
      padding-top: 2%;
      line-height: 3vh;
    }

    &__text-temperature {
      grid-area: temp;
      text-align: center;
      font-size: 14em;
      margin: 0;
      padding: 0;
      line-height: 30vh;
    }

    &__icon-temp {
      grid-area: icon;

    }

    &__list {
      grid-area: weatherList;
      text-transform: uppercase;
      list-style: none;
      margin: 0 auto;
      padding: 0;
    }

    &__list-bottom {
      grid-area: nextWeather;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    &__listItem {
      display: grid;
      grid-template-columns: 4fr 6fr;
      grid-template-rows: 3fr 7fr;
      grid-template-areas: 'day day' 'temp icon';

      .listItem__header {
        grid-area: day;
        font-size: 1.5em;
        text-align: center;
        margin: 0;
      }

      .listItem__text {
        grid-area: temp;
        font-size: 4em;
        margin: 0;
        padding: 0;
        line-height: 12vh;
        text-align: end;
      }

      .listItem__icon {
        grid-area: icon;
        .icon {
          font-size: 0.4em;
        }
      }
    }
  }
}

@import './main1000px.scss';
@import './main768px.scss';
@import './main500px.scss';
