@media screen and (max-width: 500px) {
  .main {
    width: 90%;
    margin: 4% auto;
    padding: 2% 2%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    filter: blur(0);

    &__container-right {
      display: flex;
      flex-direction: column;

      #map {
        margin: 2% auto 0;
        width: 90%;
        height: 350px;
        border-radius: 5px;
      }
      &__text-latitude {
        text-align: center;
      }

      &__text-longtitude {
        text-align: center;
    }
  }

    &__container-left {
      display: flex;
      flex-direction: column;

      &__text-location {
        position: relative;
        order: 0;
        font-size: 8vw;
        text-align: center;
        width: 90vw;
      }

      &__text-date {
        order: 1;
        text-align: center;
        font-size: 5vw;
      }

      &__text-temperature {
        order: 3;
        text-align: center;
        font-size: 35vw;
        margin: 0;
        padding: 0;
        margin-top: 0vh;
        line-height: 15vh;
      }

      &__icon-temp {
        order: 2;
        display: flex;
        justify-content: center;
      }

      &__list {
        order: 4;
        text-transform: uppercase;
        list-style: none;
        margin: 0 auto 10%;
        padding: 0;
      }

      &__list-bottom {
        order: 5;
        display: flex;
        flex-direction: column;
        list-style-type: none;
      }

      &__listItem {
        display: grid;
        grid-template-columns: 40fr 60fr;
        grid-template-rows: 30fr 70fr;
        grid-template-areas: 'day day' 'icon temp';

        .listItem__header {
          grid-area: day;
          font-size: 7vw;
          text-align: left;
          padding-left: 10%;
          margin: 0;
        }

        .listItem__text {
          grid-area: temp;
          font-size: 25vw;
          margin: 0;
          padding: 0;
          text-align: center;
        }

        .listItem__icon {
          grid-area: icon;
          .icon {
            font-size: 0.8em;
            margin-left: 5%;
          }
        }
      }
    }
  }
}
